/* #region page */
:root {

  /* ПРОВЕРИТЬ */
  --bg-color:#ededed;
  --bg-grad-1: linear-gradient(45deg, #C677FF 0%, #7059FB 50%, #2ECFF6 100%);
  --text-color:#25125a;

  --black: #000;
  --white: #FFF;
  --grey: #808080;
  --blue: #808ecc;

  /* DELETE */
  --bg-container-color:#ff982e42
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li, input, textarea, select, option {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Montserrat, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  text-decoration: none;
  list-style: none;
  text-align: center;
  background: var(--bg-color);;
  color: var(--text-color);
}

h1 {
  font-size: 22px;
  font-weight: 600;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

p {
  margin-bottom: 15px;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.container {
  max-width: 1290px;
  padding: 0 10px;
  margin: 0 auto;

  /* DELETE */
  background: var(--bg-container-color);
}

.btn {
  padding: 15px;
  border-radius: 20px;
  background: var(--bg-grad-1);
  width: 250px;
  font-weight: 500;
}

.btn:hover {
  background: var(--text-color);
  color: var(--white);
  transform: scale(1.1);
}
/* #endregion */

/* #region header */
.emptyheader {
  position: fixed;
  min-height: 50px;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid grey;
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  min-height: 50px;
}

.logo-container {
  max-width: 100px;
}

.burger-open,
.burger-close {
  display: none;
}

.nav-box {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.nav-box a {
  padding: 15px 0;
  font-weight: 500;
}

.menu-container a:hover {
  color: var(--blue);
  text-decoration: underline;
  text-underline-offset: 8px;
}

.select-lang {
  border: solid var(--text-color) 1px;
  border-radius: 20px;
  cursor: pointer;
}
/* #endregion */


/* #region home */
.home {
  padding: 50px 0 75px 0;

  /* HEIGHT 100VH */
  height: 100%;
}

.home-row {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.home-col-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-col-one-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100%/2);
  min-width: 400px;
  padding: 15px;
  align-self: center;
}

.home-col-one-item-right {
  gap: 30px;
  align-items: center;
}
/* #endregion */



/* #region rent */
.rent {
  padding: 75px 0 75px 0;
}

.rent-row {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 50px 0 0 0;
}

.rent-col-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rent-col-one-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100%/2);
  min-width: 400px;
  padding: 15px;
  align-items: center;
}


.rent__price_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
}

.rent__price_box p {
  margin: 0;
}

.rent-col-one-item  p:not(:first-child) {
  padding: 15px 0 0 0;
}

.rent__price_box span {
  padding: 0 0 0 10px;
  font-weight: 600;
}

.rent-col-one-item li {
  text-align: start;
  list-style: circle;
  font-size: 14px;
  color: var(--grey);
  margin-left: 15px;
}

.rent-col-one-item a {
  margin-top: 30px;
}





/* #region advantage */
.advantage {
  /* display: flex;
  flex-wrap: wrap; */
  padding: 75px 0 75px 0;
  /* text-align: center; */
  /* DELETE */
  /* background: #afb0b7;
  justify-content: center; */
}

.advantage h3 {
  padding: 20px 0 0 0;
}


.advantage-row {
  display: flex;
  flex-grow: 1;
  padding: 70px 0 0 0;
  align-items: center;
  justify-content: center;
}

.advantage-col-one {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}

.advantage-col-one-item {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  align-items: center;
  /* text-align: center; */
  /* width: 25%; */
  padding: 15px 25px 15px 25px;


  /* background: #f9f9f9; */
  /* border: 1px solid black; */
}

.advantage-col-item-img {
  display: flex;
  width: 50%;
  /* justify-content: center; */
  min-width: 30px;
  /* height: 20%; */
}

.advantage-col-item-img>img {
  max-width: 100px;
}

.advantage-col-item-txt {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  padding: 20px 0 0 0;
  /* justify-content: center; */
  width: 200px;
}

.advantage-col-item-txt p {
  margin: 0;
  color: var(--grey);
  padding: 10px 0 0 0;
  font-size: 13px;
}
/* 
.advantage-col-item-txt>h3 {
  line-height: 1.2;
  font-weight: 500;
} */

.advantage-col-item-txt>p {
  /* line-height: 1.63; */
  /* width: 200px; */
  /* padding: 10px 0 0 0;
  font-size: 13px; */
}

/* #endregion */

/* #region media */
/* .media {
  background: #34547A;
  margin: 0 -15px;
} */

.media {
  /* display: flex;
  flex-wrap: wrap; */
  padding: 75px 0 75px 0;
  /* text-align: center; */
  /* DELETE */
  /* background: #afb0b7;
  justify-content: center; */
  /* background: #6aa6b8; */
}

.media hr {
  width: 150px;
}

.media-row {
  display: flex;
  flex-grow: 1;
  padding: 70px 0;
  align-items: center;
  justify-content: center;
}

.media-col-one {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}

.media-col-one-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* align-items: center; */
  /* text-align: center; */
  width: calc(100%/3);
  min-width: 200px;
  padding: 15px;

  align-self: center;


  /* background: #f9f9f9; */
  /* border: 1px solid black; */
}

.media-col-item-img {
  display: flex;
  /* width: 50%; */
  justify-content: center;
  min-width: 30px;
  /* height: 20%; */
}

.media-col-item-img>img {
  /* max-width: 30%; */
}

.media-col-item-txt {
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 50%; */
  /* padding: 20px 0 0 0;
  justify-content: flex-end; */
  
  /* justify-content: center; */
  /* width: 200px; */


display: flex;
flex-direction: column;
padding: 20px 0 0 0;
justify-content: flex-end;
flex-grow: 1;
/* flex-basis: auto;
align-items: baseline; */
}



.media-col-item-txt p {
  margin: 0;
  color: var(--grey);
  font-size: 13px;

}
/* 
.advantage-col-item-txt>p {
  line-height: 1.2;
  font-weight: 500;
} */

.media>p {
  margin: 0;
  padding: 40px 0 0 0;
  /* line-height: 1.63; */
  /* width: 200px; */
  /* padding: 10px 0 0 0;
  font-size: 13px; */
}

/* #endregion */



/* #region footer */

.contacts {
  /* display: flex; */
  /* height: 1000px; */
  align-items: end;
  justify-content: center;
  padding: 75px 0 10px 0;

  /* DELETE */
  /* background: #aeb0b9; */
}

.feedback-box {
  display: flex;
  padding: 50px 10px;
  justify-content: center;
}


/* .contacts h2 {
  text-align: center;
}

.contacts-content{
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 0 0;
  align-items: center;
}

.contacts__left,
.contacts__right{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.contacts__left {
  padding-right: 20px;
}

.contacts__right {
  padding-left: 20px;
}

.contacts__right div {
  padding: 40px 20px;
}


.feedback_btn {
  padding: 15px 50px;
  border-radius: 20px;
  border: solid 1 px var(--text-color);
  background: var(--blue);
  font-weight: 500;
}

.feedback:hover {
  background: #7ab9cc;
  color: var(--white);
}

iframe {
  padding: 10px 10px 10px 10px;
}

.address {
  width: 50%;
} */

.contacts-row {
  display: flex;
  flex-grow: 1;
  /* padding: 70px 0; */
  align-items: center;
  justify-content: center;
}

.contacts-col-one {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}

.contacts-col-one-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* align-items: center; */
  /* text-align: center; */
  width: calc(100%/2);
  min-width: 400px;
  padding: 15px;

  align-self: center;


  /* background: #f9f9f9; */
  /* border: 1px solid black; */
}

.contacts-col-item-img {
  display: flex;
  /* width: 50%; */
  justify-content: center;
  min-width: 30px;
  /* height: 20%; */
}

.contacts-col-item-img>img {
  /* max-width: 30%; */
}

.contacts-col-item-txt {
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 50%; */
  /* padding: 20px 0 0 0;
  justify-content: flex-end; */
  
  /* justify-content: center; */
  /* width: 200px; */


display: flex;
flex-direction: column;
padding: 20px 0 0 0;
justify-content: flex-end;
flex-grow: 1;
/* flex-basis: auto;
align-items: baseline; */
}



.contacts-col-item-txt p {
  margin: 0;
  color: var(--grey);
  font-size: 13px;

}
/* 
.advantage-col-item-txt>p {
  line-height: 1.2;
  font-weight: 500;
} */

.contacts>p {
  margin: 0;
  padding: 40px 0 0 0;
  /* line-height: 1.63; */
  /* width: 200px; */
  /* padding: 10px 0 0 0;
  font-size: 13px; */
}


.divider {
  height: 1px;
  flex-shrink: 0;
  background: var(--text-color);
}



.myfooter {
  display: flex;
  justify-content: space-between;
  /* background: #8d8e99; */
}

.copyRight {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

.author-box {
  font-size: 10px;
}

.author-name a {
  font-size: 10px;
  color: blue;
}
/* #endregion */

























@media (max-width: 1000px) {
  /* #region header */
  .menu-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform ease-in 0.3s;
    padding: 25px 10px 10px 10px;
    box-sizing: border-box;
    background: var(--bg-color);

    height: 100vh;
  }

  .nav-box {
    flex-direction: column;
    padding: 5px 0 0 50px;
    gap: 30px;
  }

  .menu-container:target {
    transform: translateY(-0%);
  }

  .burger-open,
  .burger-close {
    display: block;
  }


  /* #endregion */

  /* #region home */

  /* #endregion */

}











@media (max-width: 819px) {

  /* #region home */

  /* #endregion */


}

